.subtitle {
    font-size: medium;
    color: white;
}
.text {
  font-size: x-small;
  line-height: 0.1;
  color: white;
}
body {
  background-color: #000000;
}
.start {
  background-color: #2eb339;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.source {
  background-color: #cb00fd;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.clone {
  background-color: #0076fd;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
 .disc {
  background-color: #7289da;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.book {
  background-color: #282828;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.img {
  background-color: #00fdd3;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
#foo {
  position: fixed;
  bottom: 0;
  right: 0;
}
#fooo {
  position: fixed;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
#subtitle {
  font-size: xx-large;
  color: white;
}