* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Media Queries Start*/
@media (min-width: 0px) and (orientation: portrait) {
  .content {
    padding: 0.5rem;
  }

  .carousel {
    z-index: 9;
  }

  .col {
    /*border: 5px solid green;*/
    max-width: 100% !important;
    padding: 2rem 0;
  }

  .row-main {
    flex-direction: column-reverse;
  }

  .footer {
    font-size: 16px;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .navbar-nav>li {
    font-size: 0.6rem;
    margin: 0;
    padding: 0 !important;
    display: inline-block;
  }

  .navbar {
    padding: 0 !important;
  }

  .desktop-only {
    display: none;
  }

  .description {
    font-size: 24px;
  }

  .button {
    margin-top: 15px;
    padding: 0 0.2rem;
  }
}

@media (min-width: 365px) and (orientation: portrait) {
  .navbar {
    padding: 0.5rem 1rem !important;
  }

  .navbar-nav>li {
    font-size: 1rem;
    margin: 0;
    padding: 0 !important;
    display: inline-block;
  }

}

/*Desktop*/
@media (min-width: 576px) and (orientation: landscape) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
    min-height: 100vh !important;
  }

  .description {
    font-size: 24px;
  }

  .col-media {
    max-width: 70% !important;
  }

  .row-main {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav>li {
    padding: 0px 20px !important;
    display: inline-block;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) and (orientation: landscape) {

}

@media (min-width: 800px) and (orientation: landscape) {
  .content {
    padding: 1rem;
    margin: 0 1rem;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {

  .content {
    margin: 0 4rem;
  }
}

/*Media Queries End*/

.social-icons {
  margin: 0 0.5rem;
}

/*Background*/
#bgfrost {
  position: relative;
  width: 100%;
  height: 100%;
  background: inherit;
  overflow: hidden;
}

#bgfrost:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  bottom: 0;
  box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.05);
  filter: blur(5px);
}

#bg {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/bg_orange.webp.html");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

/*Navbar*/

.row {
  display: flex;
}

.navbar {
  background-color: #1b2838 !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

ul.navbar-nav {
  display: inline;
  margin: auto;
}

.navbar-nav>li {
  padding: 0px 20px;
  display: inline-block;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  color: white !important;
}

.nav-link:hover {
  color: yellow !important;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  height: 35px;
  width: 100%;
}

.navbar-brand {
  margin-top: 20px;
}

.text {
  text-align: center;
  color: white;
}

/* Content */
#content {
  /*width: 1136px;*/
  margin: -15px auto;
}

.iframe-contents {
  z-index: 1;
  width: 100%;
}

.hidden {
  display: none;
}

.popup {
  background-color: white;
  color: black;
  border-radius: 10px;
  max-width: 95%;
  max-height: 95%;
  padding: 5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

#playbg {
  background-color: #222222;
  color: #AAAAAA;
}

.carousel-thumbnail > img{
  max-height: 85px!important;
}

/* End Content */

#SIMPLEINPUTFIELD {
  position: absolute;
  width: 400px;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: -1;
  background-color: #cccccc;
  border-radius: 4px;
  border: 1px solid black;
}

/*SVG*/

svg:hover {
  fill: #66c0f4;
}

/*Video Styles*/
.posRelative {
  position: relative;
  overflow: hidden;
}

.posAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*Scrollable Carousel Styles */
.scroll-test {
  padding-top: 1.5rem;
  overflow-x: scroll !important;
}

.child {
  display: flex !important;
  margin: 10px 0 !important;
  list-style: none !important;
}

.child li {
  position: relative;
  margin: 0px 5px;
}

.child li.active {
  border: 2px solid white;
}

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  right: 50px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white;
}

.child img {
  width: 150px;
  height: 100px;
}


/* Custom Scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(23, 26, 33);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(42, 71, 94, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(42, 71, 94, 1);
  border-radius: 3px;
}


/*Rows, Columns, Containers*/

.footer a {
  color: white;
}

.footer .external-link:hover {
  color: yellow;
}

.external-link {
  align-items: flex-end;
  align-content: flex-end;
  margin: 0;
}

p {
  margin: 0 !important;
}

/*Others*/
.logo-header {
  text-align: center;
}

.logo-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.description {
  color: white;
  padding: 1.5em 0;
  text-align: center;
  min-height: 150px;
}

.content {
  background: rgba(2, 6, 12, 0.92);
  border: 1px solid black;
  position: relative;
}

.footer {
  padding-top: 2rem;
  color: white;
  min-height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

svg {
  fill: #1b2838;
  margin: 0 0.3rem;
}
